```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.*
.python-version
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/
.sass-cache/
.well-known/
```